/* General Styling */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: Arial, sans-serif;
	line-height: 1.4;
	color: #333;
	overflow-x: hidden; 
}
.container{
	max-width: 1100px;
	margin: auto;
}
.text-primary{
	color: #fff;
}

.bg-light {
	background: #f4f4f4;
	color: #333;
}

.bg-dark {
	background: #333;
	color: #fff;
}

.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(b.jpg);
	background-size: cover;

}
.banner .content
{
	max-width: 900px;
	text-align: center;
}
.banner .content h2
{
	font-size: 5em;
	color: #fff;
	font-family: 'Guttenberg MF';
}
.banner .content h3
{
	font-size: 4em;
	color: #fff;
	font-family: 'Nexa Bold';
}
.banner .content p
{
	font-size: 1em;
	color: #fff;
}
.btn
{
	font-size: 1em;
	color: #fff;
	background: #4f001a;
	display: inline-block;
	padding: 10px 30px;
	margin-top: 20px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 2px;
	transition: 0.5s;
}
.btn:hover
{
	letter-spacing: 6px;
}

/* Navbar */
#navbar{
	display: flex;
	justify-content: space-between;
	background: #4f001a;
	color: #fff;
	padding: 1.5rem 8rem;
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom: 3px solid #9D0C3F;
}
#navbar ul{
	display: flex;
	align-items: center;
	list-style: none;
}

#navbar h2 a{
	color: #858585;
	text-decoration: none;
}

#navbar li a {
	text-decoration: none;
	color: #fff;
	padding: 1rem;
	font-size: 1.3rem;
	margin: 0 0.5rem;
	border-radius: 5px;
	transition: background-color 0.3s;
}
#navbar li a:hover{
	background-color: #9D0C3F;
}

/* Showcase Area */
#showcase{
	background:url(b.jpg) no-repeat center center/cover;
	height: 91.0vh;
}
.showcase-content{
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 81px;
	left: 0;
	bottom: 0;
	right: 0;
	background: rgba(0,0,0,0.6);
	color: #fff;
}

.showcase-content h1{
	font-size: 4rem;
	margin-bottom: 2rem;
}

.showcase-content .btn{
	font-size: 1.5rem;
	padding: 1rem 10rem;
	transition: color 0.3s, background 0.3s;
}

.showcase-content .btn:hover {
	background: #9D0C3F;
	color: #fff;
}

.btn {
	color: #fff;
	text-decoration: none;
	display: inline-block;
	padding: 1rem 2rem;
	border: 1px solid #4f001a;
	border-radius: 10px;
	font-weight: bold;
}

/* Section:About */

section
{
	padding: 100px;
}
.row
{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.row .co150
{
	position: relative;
	width: 48%;
}
.titext
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}
.titext span
{
	color: #ce3366;
	font-weight: 700;
	font-size: 1.5em;
}
.row .co150 .imgBx
{
	position: relative;
	width: 100%;
	min-height: 300px; 
	height: 100%;
	
}
.row .co150 .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit:cover;

}
.title
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Menus */

.menus .content
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;

}
.menus .content .box
{
	width: 340px;
	margin: 20px ;
	border: 15px;
	box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.menus .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}
.menus .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.menus .content .box .text
{
	padding:15px 0 5px;
}
.menus .content .box .text h3
{
	font-weight: 400;
	color: #111;
}

/* recips */

.recips .content
{
	display: flex;
	justify-content: center;
	flex-direction: row-reverse;
	flex-wrap: wrap;
	margin-top: 40px;

}
.recips .content .box
{
	width: 340px;
	margin: 20px ;
	border: 15px;
	box-shadow: 0 5px 35px rgba(0,0,0,0.08);
}
.recips .content .box .imgBx
{
	position: relative;
	width: 100%;
	height: 300px;
}
.recips .content .box .imgBx img
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.recips .content .box .text
{
	padding:15px 0 5px;
}
.recips .content .box .text h3
{
	font-weight: 400;
	color: #111;
}
/* contact */
#contact {
	padding: 5rem 0;
}
#contact h2 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 8rem;
}
#contact h3 {
	text-align: center;
	font-size: 2.5rem;
	margin: 3rem 0;
	margin-top: 5rem;
}
#contact .form-box {
	background: #fff;
	padding: 3rem;
	box-shadow: 2px 2px 5px #d1d1d1;
	border-radius: 10px;
}
#contact .form-group label {
	display: block;
	margin-bottom: 0.5rem;
	width: 80%;
	margin-left: 10%;
	font-size: 1.1rem;
}
#contact .form-group input,#contact .form-group textarea {
	width: 80%;
	margin-left: 10%;
	font-size: 1.3rem;
	padding: 1rem;
	border: 0.5px solid #333;
	border-radius: 5px;
}
#contact .form-group textarea {
	font-family: Arial, sans-serif;
}
#contact .contact-btn {
	width: 80%;
	margin-left: 10%;
	display: inline-block;
	padding: 1rem 3rem;
	border: none;
	border-radius: 5px;
	font-size: 1.5rem;
	background: #9D0C3F;
	color: #fff;
	margin-bottom: 2rem;
	cursor: pointer;
	transition: background 0.3s;
}
#contact .contact-btn:hover {
	background: #730028;
}
#contact .form-container {
	position: relative;
}
#contact .mail-icon {
	font-size: 4rem;
	background: #9D0C3F;
	color: #fff;
	display: inline-block;
	padding: 1.5rem 2rem;
	border-radius: 50%;
	position: absolute;
	top: -7%;
	left: 45%;
}

/* Footer */
footer {
	padding: 2.5rem;
}

footer p {
	text-align: center;
}